.wrapper {
    display: grid;
    grid-template-rows: 100px 500px 500px;   
}


/* Row 1 */
header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    background-color: black;
    color: white;
    text-align: center;
    display: grid;
    align-items: center;
}


/* Row 2 */
.Intro {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    display: grid;
    align-items: center;
    background-color: rgb(255, 255, 224);
}

.greenlady {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    
}


/* Row 3 */
.Welcome {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: ivory;
}

.lady {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}


.about {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: ivory;
} 



/* CSS for fitting images */
img{
width: 100%;
height: 100%;
object-fit: cover;
}

