body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: palegreen;
        }

        h1 {
            color: white;
            background-color: green;
            padding: 1.5rem;
        }

        p {
            margin: 1.5rem;
        }

        img {
            float: left;
            margin: 1rem;
            border: 5px lightpink solid;
            max-width: 100%;
        }

        h2 {
            color: white;
            background-color: limegreen;
            padding: 1rem;
            
        }