h2 {
    text-align: center;
    background-color: aliceblue;
    padding: 12px;
    margin: 0px;
}

nav li {
    list-style-type: none;
    background-color: black;
    margin: 1rem;
}

nav a {
    text-decoration: none;
    color: lightgray;
    padding: 25px;
}

nav a:hover {
    color: palegoldenrod;
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 25px;
    margin: 0;
    flex-wrap: wrap;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
}


/* h1's text is changed to a blue color and the font to Franklin Gothic Medium. */
h1 {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Bringing footer down to the bottom of the brower */
/* Here is my explaination for bringing my footer down the bottome of the browser:
1. In the main, I used flex:1 to expand "main" to fill the available space.
2. In body, I used display: flex to expand the available space easier. Then min-height is used for filling the full height of the browser, which will bring the footer to the bottom of the browser.
 */
main {
    flex: 1;
    padding: 20px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}